
  .homepage {
    display: flex;
    align-items: center;
    padding: 20px 80px;
  }

  button{
    color:#1c4fa8;
  }

  .logo{
    flex:1;
    
  }

  h1{
    color:#1c4fa8;
  }

  .directory-menu {
   flex:1;
  }
   
  img{
      border-radius: 25px;
      padding: 20px; 
  }

  hr{
    border-top: 1px solid #1c4fa8;
    width: 100vh;
  }
  
  .services{
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-gap: 20px;
    
  }

  a{
    text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    .services{
      width: 85vw;
      display: grid;
      grid-template-columns: 1fr;
      width: 300%;
    }
  }